{% extends 'base.html.twig' %}

{% block title %}Modifier un matériau
{% endblock %}

{% block body %}
	<h1>Modification d'un matériau</h1>

	{{ include('material/_form.html.twig', {'button_label': 'Enregistrer la modification'}) }}

	<a href="{{ path('app_material_index', { categoryId: category.id}) }}" class="add-button-customer">Retour à la liste des matériaux</a>

{% endblock %}
