{% extends 'base.html.twig' %}

{% block title %}Ajout d'un matériau
{% endblock %}

{% block body %}
	<h1>Ajouter un nouveau matériau</h1>

	{{ include('material/_form.html.twig') }}

	{% if referer %}
		<a href="{{ referer }}" class="add-button-customer">
			Liste des matériaux</a>
	{% endif %}
{% endblock %}
