{% extends 'base.html.twig' %}

{% block title %}ajout d'une catégorie{% endblock %}

{% block body %}
    <h1>Ajouter une nouvelle catégorie</h1>

    {{ include('category/_form.html.twig') }}

<div class="twobuttons">
	<a href="{{ path('app_category_index') }}" class="add-button-customer">retour aux catégories</a>
</div>
{% endblock %}
