{% extends 'base.html.twig' %}

{% block title %}Nouveau client{% endblock %}

{% block body %}
    <h1>Nouveau client</h1>

    {{ include('customer/_form.html.twig') }}

<div class="twobuttons">
    <a href="{{ path('app_customer_index') }}" class="add-button-customer">retour à la liste des clients</a>
</div>
{% endblock %}
