{% extends 'base.html.twig' %}

{% block title %}Modifier la fiche produit
{% endblock %}

{% block body %}
	<h1>Edit Product</h1>

	{{ include('product/_form.html.twig', {'button_label': 'Enregistrer la modification'}) }}
	<div class="twobuttons">
		<a href="{{ path('app_product_show', {'id': product.id}) }}">Retour au produit</a>
	</div>
{% endblock %}
