{% set days = {
    'Monday': 'Lundi',
    'Tuesday': 'Mardi',
    'Wednesday': 'Mercredi',
    'Thursday': 'Jeudi',
    'Friday': 'Vendredi',
    'Saturday': 'Samedi',
    'Sunday': 'Dimanche'
} %}

{% set months = {
    'January': 'Janvier',
    'February': 'Février',
    'March': 'Mars',
    'April': 'Avril',
    'May': 'Mai',
    'June': 'Juin',
    'July': 'Juillet',
    'August': 'Août',
    'September': 'Septembre',
    'October': 'Octobre',
    'November': 'Novembre',
    'December': 'Décembre'
} %}

{% set now = "now"|date("l j F Y") %}
{% set parts = now|split(' ') %}
{% set day = days[parts[0]] %}
{% set month = months[parts[2]] %}
{% set formatted_date = day ~ ' ' ~ parts[1] ~ ' ' ~ month ~ ' ' ~ parts[3] %}

{% block header %}
	<section
		class="header">
		<a href="javascript:window.history.back();">
		<i class="fa-solid fa-chevron-left"></i>
	</a>
	<a href="/" class='a-logo-header'><img src="{{ asset('/build/images/main.623ca7c1.svg') }}" alt="logo de perle do" class="logo-header"/></a>
	<p class="date-header">{{ formatted_date }}</p>
	<a href="/search">
		<i class="fa-solid fa-magnifying-glass"></i>
	</a>
</section>{% endblock %}
